{% extends 'base.html' %}

{% block title %}Edit User Form{% endblock %}

{% block content %}
<h1>Edit a tag</h1>

    <form method="post" action="/tags/{{ tag.id }}/edit">
        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{ tag.name }}"">
        </div>

        <div class="mb-3 form-check">
            {% for post in tag.posts %}
            <div>
                <label class="form-check-label" for="post_{{ post.id }}">{{ post.title }}</label>
                <input type="checkbox" 
                        id="post_{{ post.id }}" 
                        name="posts" 
                        value="{{ post.id }}"
                        {% if post in tag.posts %}checked{% endif %}> 
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <a href="/tags/{{ tag.id }}" class="btn btn-outline-info button">Cancel</a>
            <button type="submit" class="btn btn-success button">Edit</button>
        </div>

    </form>

{% endblock %}